@{
    ViewData["Title"] = "Home Page";
}

<div style="
    background-color:#c05802;
    display:flex;
    flex-direction:column;
    align-self:center;
    
    padding:10px;
    border-radius:10px;"
 >

<div class="text-center text-white">
    <h1 class="display-4">Bem-Vindo a Fiap Library!</h1>
        <p style="margin-top:30px; font-size:1.5em">
            Esse Trabalho tem a ideia de facilitar o controle de estoque em uma biblioteca, controlando por nome, preço e descrição,
            podendo realizar as seguintes ações, criação de livro, listagem de livros, apagar livro e editar livro.
        </p>
</div>

</div>