@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="
    background-color:#c05802;
    display:flex;
    flex-direction:column;
    align-self:center;

    padding:10px;
    border-radius:10px;">

    <div class="text-center text-white">
        <h1 class="display-4">Bem-Vindo a Fiap Library!</h1>
        

        <h2 style="margin-bottom:45px;">Membros do Grupo</h2>

        <p>Henrique A. Freitas - RM95725</p>
        <p>Igor Everton - RM95214</p>
        <p>Thiago Matos - RM92900</p>
        <p>Andrew Maia - RM96030</p>
        <p>Lucas Cosra - RM94013</p>
        <p>Vinicius Prado - RM94851</p>
    </div>

